body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    width: 100vw;
    height: 100vh;
    touch-action: none;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*fonts*/

@font-face {
    font-family: "fredokaOne";
    font-weight: 400;
    src: url("res/fonts/fredokaOne.ttf") format("truetype");
}

@font-face {
    font-family: "fredokaOne";
    font-weight: 500;
    src: url("res/fonts/fredokaOne.ttf") format("truetype");
}

@font-face {
    font-family: "fredokaOne";
    font-weight: 600;
    src: url("res/fonts/fredokaOne.ttf") format("truetype");
}

@font-face {
    font-family: "fredokaOne";
    font-weight: 700;
    src: url("res/fonts/fredokaOne.ttf") format("truetype");
}

@font-face {
    font-family: "fredokaOne";
    font-weight: 800;
    src: url("res/fonts/fredokaOne.ttf") format("truetype");
}


@font-face {
    font-family: "insanibu";
    font-weight: 400;
    src: url("res/fonts/insanibu.ttf") format("truetype");
}

@font-face {
    font-family: "insanibu";
    font-weight: 500;
    src: url("res/fonts/insanibu.ttf") format("truetype");
}

@font-face {
    font-family: "insanibu";
    font-weight: 600;
    src: url("res/fonts/insanibu.ttf") format("truetype");
}

@font-face {
    font-family: "insanibu";
    font-weight: 700;
    src: url("res/fonts/insanibu.ttf") format("truetype");
}

@font-face {
    font-family: "insanibu";
    font-weight: 800;
    src: url("res/fonts/insanibu.ttf") format("truetype");
}
